table {
  width: 50%;
  margin: 15px;
  padding: 15px;
}

table thead{
  background-color: grey;
}

table td{
  border: 1px solid;
}

.container {
   margin:50px; /* this will center the page */
   width:960px; /*  use your width here */
}
